* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Background */

body {
    position: fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(233, 59, 35);
    overflow: hidden;
}

.background img {
    position: fixed;
    bottom: -30px;
    left: 45px;
    width: 30%;
    z-index: -5;
}

.background .wave {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: url("../img/wave.png");
    background-size: 1000px 100px;
}

.background .wave.wave1 {
    animation: wave 30s linear infinite;
    z-index: -1;
    filter: brightness(1);
    animation-delay: 0s;
    bottom: 0;
}

.background .wave.wave2 {
    animation: wave 15s linear infinite reverse;
    z-index: -2;
    filter: brightness(0.7);
    animation-delay: -5s;
    bottom: 20px;
}

.background .wave.wave3 {
    animation: wave 30s linear infinite;
    z-index: -3;
    filter: brightness(0.5);
    animation-delay: -2s;
    bottom: 50px;
}

.background .wave.wave4 {
    animation: wave 15s linear infinite reverse;
    z-index: -4;
    filter: brightness(0.3);
    animation-delay: -2s;
    bottom: 80px;
}

@keyframes wave {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: 1000px;
    }
}

/* Cards */

.memory-game {
    height: 640px;
    width: 640px;
    margin: auto;
    position: relative;
    bottom: 120px;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
}

.card {
    height: calc(40% - 10px);
    width: calc(25% - 10px);
    margin: 5px;
    position: relative;
    cursor: pointer;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform 0.9s;
}

.card:active {
    transform: scale(0.97);
    transition: transform 0.2s;
}

.card-front, .card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
}

.card-front {
    transform: rotateY(180deg);
}

.card.flip {
    transform: rotateY(180deg);
}