* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(233, 59, 35);
    overflow: hidden;
    font-family: sans-serif;
}

.game-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.misses-wrapper {
    position: relative;
    color: white;
    text-shadow: -1px -1px black, 1px -1px black, -1px 1px black, 1px 1px black;
    left: 10px;
    top: 10px;
}

.game-wrapper button {
    display: flex;
    align-items: center;
    padding: 0.5rem 1.5rem;
    background-color: white;
    color: black;
    border-radius: 8px;
    transition: background-color, 0.5s ease-in-out, transform 0.1s ease-in-out;
}

.game-wrapper button:hover {
    background-color: rgb(233, 59, 35);
    color: white;
}

.game-wrapper button:active {
    transform: scale(0.5);
}

.background img {
    position: fixed;
    bottom: -30px;
    width: 30vw;
    left: -5px;
    z-index: -5;
}

/* Wave Effect */

.background .wave {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: url("../img/wave.png");
    background-size: 1000px 100px;
}

.background .wave.wave1 {
    animation: wave 30s linear infinite;
    z-index: -1;
    filter: brightness(1);
    animation-delay: 0s;
    bottom: 0;
}

.background .wave.wave2 {
    animation: wave 15s linear infinite reverse;
    z-index: -2;
    filter: brightness(0.5);
    animation-delay: -5s;
    bottom: 20px;
}

.background .wave.wave3 {
    animation: wave 30s linear infinite;
    z-index: -3;
    filter: brightness(0.3);
    animation-delay: -2s;
    bottom: 50px;
}

.background .wave.wave4 {
    animation: wave 15s linear infinite reverse;
    z-index: -4;
    filter: brightness(0.1);
    animation-delay: -2s;
    bottom: 80px;
}

@keyframes wave {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: 1000px;
    }
}

/* Cards */

.memory-game {
    height: 500px;
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
    margin: auto;
    margin-bottom: 20px;
    position: relative;
    bottom: 100px;
}

.card {
    height: calc(40% - 10px);
    width: calc(25% - 10px);
    margin: 5px;
    position: relative;
    cursor: pointer;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform 0.9s;
}

.card:active {
    transform: scale(0.97);
    transition: transform 0.2s;
}

.card-front, .card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
}

.card-front {
    transform: rotateY(180deg);
}

.card.flip {
    transform: rotateY(180deg);
}

/* Responsive */

@media (max-width: 800px) {
    .memory-game {
        height: 340px;
        width: 340px;
    }

    .background img {
        width: 50vh;
    }

    .game-wrapper button {
        position: relative;
        bottom: 30px;
    }

    .misses-wrapper {
        margin-bottom: 20px;
    }
}